* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /*Viewport Height hay mas espacio de izquierda a derecha*/
  overflow: hidden; /*para que no le caiga nada encima*/
  margin: 0;
  background-color: #faebd7;
}

.imagenes {
  background: auto 100%;
  position: center;
  background-repeat: no-repeat;
  height: 80vh;
  max-width: 500px;
  max-height: 330px;
  border-radius: 50px;
  color: rgb(78, 78, 197);
  cursor: pointer;
  flex: 0.5;
  position: relative;
  margin: 5px;
  transition: flex 0.9s ease-in;
}
.imagenes.active {
  flex: 5;
  transition: opacity 0.3s ease-in 0.5s;
}
.imagenes.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.imagenes p {
  font-size: 25px;
  font-family: "Ballet", cursive;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.main {
  display: flex;
  width: 90vw;
}
